<section class="bg-gray-100 py-16 px-6">
	<div class="max-w-lg mx-auto bg-white rounded-md shadow p-8 mb-8">
		<h2 class="text-lg text-center font-bold mb-8">
			Reactivos: <small> Dinámicos </small>
		</h2>

		<form
			autocomplete="off"
			class="grid grid-cols-1 sm:grid-cols-2"
			[formGroup]="dynamicForm"
			(ngSubmit)="onSave()"
		>
			<div class="sm:col-span-2 flex flex-col gap-2 py-2">
				<label
					for="name"
					class="block text-sm text-gray-700 font-bold"
					>Nombre</label
				>
				<div class="flex flex-col gap-1">
					<input
						type="text"
						id="name"
						placeholder="Nombre de la persona"
						class="block w-full h-12 px-4 py-3 placeholder-gray-500 bg-gray-100 border-0 rounded-md appearance-none text-blue-500 focus:border-blue-500 focus:bg-white focus:outline-none focus:ring-blue-500 focus:ring-inset focus:ring-2 text-sm"
						formControlName="name"
					/>
					<span
						*ngIf="isValidField('name')"
						class="text-red-500 text-xs"
						>{{ getFieldError('name') }}</span
					>
				</div>
			</div>
			<div class="flex flex-col gap-2 py-2 sm:col-span-2">
				<label
					for="addFav"
					class="block text-sm text-gray-700 font-bold"
					>Agregar favoritos</label
				>
				<div class="flex flex-col gap-1">
					<div class="flex items-center gap-2">
						<input
							type="text"
							id="addFav"
							placeholder="Agregar favoritos"
							class="block w-full h-12 px-4 py-3 placeholder-gray-500 bg-gray-100 border-0 rounded-md appearance-none text-blue-500 focus:border-blue-500 focus:bg-white focus:outline-none focus:ring-blue-500 focus:ring-inset focus:ring-2 text-sm"
							[formControl]="newFav"
						/>
						<button
							class="rounded-full bg-blue-600 px-8 py-2 mt-2 sm:ml-2 h-12 text-sm font-bold text-white hover:bg-blue-500 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 w-full"
							type="button"
							(click)="onAddToFavs()"
						>
							Agregar
						</button>
						<span
							*ngIf="isValidField('name')"
							class="text-red-500 text-xs"
							>{{ getFieldError('name') }}</span
						>
					</div>
				</div>
			</div>
			<div class="flex flex-col gap-2 py-2 sm:col-span-2">
				<label
					for="favGamesList"
					class="block text-sm text-gray-700 font-bold"
					>Favoritos</label
				>
				<div
					class="flex flex-col gap-1"
					formArrayName="favGames"
				>
					<div
						class="flex items-center gap-2"
						*ngFor="
							let favourite of favGames.controls;
							let i = index
						"
					>
						<input
							type="text"
							id="favGamesList"
							class="block w-full h-12 px-4 py-3 placeholder-gray-500 bg-gray-100 border-0 rounded-md appearance-none text-blue-500 focus:border-blue-500 focus:bg-white focus:outline-none focus:ring-blue-500 focus:ring-inset focus:ring-2 text-sm"
							[formControlName]="i"
						/>
						<button
							class="rounded-full bg-blue-600 px-8 py-2 mt-2 sm:ml-2 h-12 text-sm font-bold text-white hover:bg-blue-500 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 w-full"
							type="button"
							(click)="onDeleteFav(i)"
						>
							Eliminar
						</button>
						<span
							*ngIf="isValidFieldArray(favGames, i)"
							class="text-red-500 text-xs"
							>{{ getFieldError('addFav') }}</span
						>
					</div>
				</div>
			</div>

			<button
				class="sm:col-span-2 rounded-full bg-blue-600 px-8 py-2 mt-8 h-12 text-sm font-bold text-white hover:bg-blue-500 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 w-full"
				type="submit"
			>
				<!-- [disabled]="myForm.invalid" -->
				Guardar
			</button>
		</form>
	</div>
	<div class="center-element bg-white shadow p-8 rounded-md">
		<span>Valid</span>
		<pre>{{ dynamicForm.valid | json }}</pre>
		<br />

		<span>Value</span>
		<pre>{{ dynamicForm.value | json }}</pre>
		<br />

		<span>Agregar Juego</span>
		<pre>{{ newFav.valid | json }}</pre>
		<pre>{{ newFav.value | json }}</pre>
	</div>
</section>
